/* Mobile and tablet */

@media (max-width: 1023px){
    :root{
        --navbar-height: 0;
        --header-height: 68px;
    }

    .hide-on-mobile-tablet{
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }

    .header{
        display: flex;
        align-items: center;
    }
    
    .header__cart{
        width: 80px;
        text-align: right;
    }

}

/* Mobile */
@media (max-width: 740px){
    .hide-on-mobile{
        display: none;
    }
}